---
import { common } from "~/config"
import { getLangFromUrl, useTranslations } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const currentYear = new Date().getFullYear()
---

<footer
  class="flex flex-col items-baseline gap-x-4 py-10 md:flex-row"
  role="contentinfo"
>
  <p class="">
    {t("author.name")} &copy; {currentYear}
  </p>
  <div aria-hidden="true" class="hidden md:block">|</div>
  <nav aria-label="Footer Links" class="flex gap-x-2">
    <a
      class="hover:underline"
      target="_blank"
      rel="noopener noreferrer"
      href={"/" + lang + "/rss.xml"}
      aria-label="RSS Feed"
    >
      RSS
    </a>
    {
      common.social.map((item) => {
        return (
          <a
            class="hover:underline"
            target="_blank"
            rel="noopener noreferrer"
            href={item.link}
            aria-label={item.label}
          >
            {item.label}
          </a>
        )
      })
    }
  </nav>
  <div aria-hidden="true" class="hidden md:block">|</div>
  <p>
    Powered By <a
      target="_blank"
      class="hover:underline"
      aria-label="Astro Air"
      rel="noopener noreferrer nofollow"
      href="https://github.com/sun0225SUN/astro-air"
    >
      Astro Air
    </a>
  </p>
</footer>
