---
import { getLangFromUrl, useTranslations } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const currentYear = new Date().getFullYear()
---

<footer class="flex gap-x-3 py-10">
  <p>
    {t("author.name")} &copy; {currentYear}
  </p>
  <div>|</div>
  <p>
    Powered By <a
      target="_blank"
      aria-label="Astro Air"
      href="https://github.com/sun0225SUN/astro-air"
    >
      Astro Air
    </a>
  </p>
</footer>
