---
import { Train } from "lucide-react"
import { LanguageToggle } from "~/components/react/language-toggle"
import { ThemeToggle } from "~/components/react/theme-toggle"
import { en, zh } from "~/config"
import { getLangFromUrl } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const config = lang === "zh" ? zh : en
---

<header class="flex h-24 items-center justify-between">
  <div>
    <div class="text-3xl font-extrabold tracking-tight">
      <a
        href={`/${lang}/`}
        class="hover:text-primary text-2xl font-semibold transition-colors"
        title={config.siteName}
        >{config.siteName}
      </a>
    </div>
    <p
      class="pt-2 font-mono text-sm tracking-wider text-gray-600 dark:text-white/70"
    >
      {config.meta.slogan}
    </p>
  </div>

  <div class="flex items-center gap-6">
    {
      lang === "zh" && (
        <a
          href="https://www.travellings.cn/go.html"
          target="_blank"
          rel="noopener"
          title="开往"
        >
          <Train />
        </a>
      )
    }
    <LanguageToggle client:idle />
    <ThemeToggle client:idle />
  </div>
</header>
