---
import { LanguageToggle } from "~/components/react/language-toggle"
import { ThemeToggle } from "~/components/react/theme-toggle"
import { en, zh } from "~/config"
import { getLangFromUrl } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const config = lang === "zh" ? zh : en
---

<header class="flex h-24 items-center justify-between">
  <a
    href={`/${lang}`}
    class="hover:text-primary text-2xl font-semibold transition-colors"
    title={config.siteName}
  >
    <h1>{config.siteName}</h1>
  </a>

  <div class="flex items-center gap-6">
    <LanguageToggle client:load />
    <ThemeToggle client:load />
  </div>
</header>
