---
import { en, zh } from "~/config"
import { getLangFromUrl, useTranslations } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { home, archive, about } = lang === "zh" ? zh.navigation : en.navigation
---

<nav
  class="mt-4 mb-10 flex gap-4 overflow-x-auto text-lg whitespace-nowrap [-ms-overflow-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden"
  role="navigation"
  aria-label="Main navigation"
>
  {
    home && (
      <a
        href={`/${lang}`}
        class="hover:underline hover:underline-offset-4"
        aria-label={t("nav.home")}
        title={t("nav.home")}
        data-astro-prefetch="viewport"
        rel="home"
      >
        {t("nav.home")}
      </a>
    )
  }
  {
    archive && (
      <a
        href={`/${lang}/archive`}
        class="hover:underline hover:underline-offset-4"
        aria-label={t("nav.archive")}
        title={t("nav.archive")}
        data-astro-prefetch="viewport"
      >
        {t("nav.archive")}
      </a>
    )
  }

  {
    about && (
      <a
        href={`/${lang}/about`}
        class="hover:underline hover:underline-offset-4"
        aria-label={t("nav.about")}
        title={t("nav.about")}
        data-astro-prefetch="viewport"
      >
        {t("nav.about")}
      </a>
    )
  }
</nav>
