---
import { common } from "~/config"
import { getLangFromUrl, useTranslations } from "~/i18n/utils"
import { getPostsByLocale } from "~/utils"
import PostItem from "./post-item.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const allPosts = await getPostsByLocale(lang)
const posts = allPosts.slice(0, common.latestPosts)
---

<section>
  <h2 class="my-8 text-xl font-medium md:my-8">{t("blog.latest")}</h2>
  <ul>
    {
      posts.map((post: any) => (
        <li>
          <PostItem post={post} lang={lang} />
        </li>
      ))
    }
  </ul>
</section>
