article code {
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: #0369a1;
}

@media (prefers-color-scheme: dark) {
  :root.dark article code {
    color: #7dd3fc;
  }
}

article code::before,
article code::after {
  content: none !important;
}
